[submodule "handler"]
	path = handler
	url = https://gitea.cdirmit.co/CDI/pepper-chatbot.git
	branch = main
[submodule "web-controller"]
	path = web-controller
	url = https://gitea.cdirmit.co/CDI/robo-web-controller.git
	branch = feat/local-llm
[submodule "stt"]
	path = stt
	url = https://gitea.cdirmit.co/CDI/haku_stt.git
	branch = main
[submodule "llm"]
	path = llm
	url = https://gitea.cdirmit.co/CDI/robo-llm-server.git
	branch = main
